 <option value="ae" data-validate="false">United Arab Emirates</option>
                
                <option value="ar" data-validate="false">Argentina
                </option>
                
                <option value="at" data-validate="false">Austria
                </option>
                
                <option value="au" data-validate="false">Australia
                </option>
                
                <option value="be" data-validate="false">Belgium
                </option>
                
                <option value="bg" data-validate="false">Bulgaria
                </option>
                
                <option value="bm" data-validate="false">Bermuda
                </option>
                
                <option value="br" data-validate="false">Brazil
                </option>
                
                <option value="bs" data-validate="false">Bahamas
                </option>
                
                <option value="by" data-validate="false">Belarus
                </option>
                
                <option value="bz" data-validate="false">Belize
                </option>
                
                <option value="ca" data-validate="false">Canada
                </option>
                
                <option value="ch" data-validate="false">Switzerland
                </option>
                
                <option value="cl" data-validate="false">Chile
                </option>
                
                <option value="cn" data-validate="false">China
                </option>
                
                <option value="co" data-validate="false">Colombia
                </option>
                
                <option value="cr" data-validate="false">Costa Rica
                </option>
                
                <option value="cz" data-validate="false">Czech Republic
                </option>
                
                <option value="de" data-validate="false">Germany
                </option>
                
                <option value="dk" data-validate="false">Denmark
                </option>
                
                <option value="do" data-validate="false">Dominican Republic 
                </option>
                
                <option value="ee" data-validate="false">Estonia
                </option>
                
                <option value="es" data-validate="false">Spain
                </option>
                
                <option value="fi" data-validate="false">Finland
                </option>
                
                <option value="fr" data-validate="false">France
                </option>
                
                <option value="gb" data-validate="false">United Kingdom
                </option>
                
                <option value="gg" data-validate="false">Guernsey
                </option>
                
                <option value="gh" data-validate="false">Ghana
                </option>
                
                <option value="gr" data-validate="false">GREECE
                </option>
                
                <option value="gu" data-validate="false">Guam
                </option>
                
                <option value="hk" data-validate="false">Hong Kong
                </option>
                
                <option value="hr" data-validate="false">Croatia
                </option>
                
                <option value="ht" data-validate="false">Haiti
                </option>
                
                <option value="hu" data-validate="false">Hungary
                </option>
                
                <option value="id" data-validate="false">Indonesia
                </option>
                
                <option value="ie" data-validate="false">Ireland
                </option>
                
                <option value="il" data-validate="false">Israel
                </option>
                
                <option value="im" data-validate="false">Isle of Man
                </option>
                
                <option value="in" data-validate="false">India
                </option>
                
                <option value="is" data-validate="false">Iceland
                </option>
                
                <option value="it" data-validate="false">Italy
                </option>
                
                <option value="je" data-validate="false">Jersey
                </option>
                
                <option value="jp" data-validate="false">Japan
                </option>
                
                <option value="kr" data-validate="false">South Korea
                </option>
                
                <option value="kw" data-validate="false">Kuwait
                </option>
                
                <option value="lt" data-validate="false">Lithuania
                </option>
                
                <option value="lu" data-validate="false">Luxembourg
                </option>
                
                <option value="lv" data-validate="false">Latvia
                </option>
                
                <option value="ma" data-validate="false">Morocco
                </option>
                
                <option value="mc" data-validate="false">Monaco
                </option>
                
                <option value="md" data-validate="false">Moldova
                </option>
                
                <option value="me" data-validate="false">Montenegro
                </option>
                
                <option value="mo" data-validate="false">Macao
                </option>
                
                <option value="mt" data-validate="false">Malta
                </option>
                
                <option value="mx" data-validate="false">Mexico
                </option>
                
                <option value="my" data-validate="false">Malaysia
                </option>
                
                <option value="nl" data-validate="false">Netherlands
                </option>
                
                <option value="no" data-validate="false">Norway
                </option>
                
                <option value="nz" data-validate="false">New Zealand
                </option>
                
                <option value="om" data-validate="false">Oman
                </option>
                
                <option value="pa" data-validate="false">Panama
                </option>
                
                <option value="pe" data-validate="false">Peru
                </option>
                
                <option value="ph" data-validate="false">Phillippines
                </option>
                
                <option value="pk" data-validate="false">Pakistan
                </option>
                
                <option value="pl" data-validate="false">Poland
                </option>
                
                <option value="pr" data-validate="false">Puerto Rico
                </option>
                
                <option value="pt" data-validate="false">Portugal
                </option>
                
                <option value="qa" data-validate="false">Qatar
                </option>
                
                <option value="re" data-validate="false">Reunion
                </option>
                
                <option value="ro" data-validate="false">Romania
                </option>
                
                <option value="rs" data-validate="false">Serbia
                </option>
                
                <option value="ru" data-validate="false">Russia
                </option>
                
                <option value="sa" data-validate="false">Saudi Arabia
                </option>
                
                <option value="se" data-validate="false">Sweden
                </option>
                
                <option value="sg" data-validate="false">Singapore
                </option>
                
                <option value="si" data-validate="false">Slovenia
                </option>
                
                <option value="sk" data-validate="false">Slovakia
                </option>
                
                <option value="sr" data-validate="false">Suriname 
                </option>
                
                <option value="th" data-validate="false">Thailand
                </option>
                
                <option value="tr" data-validate="false">Turkey
                </option>
                
                <option value="tt" data-validate="false">Trinidad
                </option>
                
                <option value="tw" data-validate="false">TAIWAN
                </option>
                
                <option value="ua" data-validate="false">Ukraine
                </option>
                
                <option value="us" data-validate="false" selected="">United States
                </option>
                
                <option value="uy" data-validate="false">Uruguay
                </option>
                
                <option value="ve" data-validate="false">Venezuela
                </option>
                
                <option value="vt" data-validate="false">Vietnam
                </option>
                
                <option value="wi" data-validate="false">West Indies
                </option>
                
                <option value="xk" data-validate="false">Kosovo
                </option>
                
                <option value="za" data-validate="false">South Africa
                </option>