<section class="about-card-area">
    <div class="container">
       
        {{section.settings.html}}
    </div>
</section>


{% schema %}
    {
        "name": "Custome About Page",
        "class": "about",
        "settings": [
        {
            "type": "html",
            "id": "html",
            "label": "About Html",
            "default": "<div class='about-card'></div>"
        }
        ],	
        "presets": [
            {
              "name": "Custome About Section"
            }]
    }
{% endschema %}



<style>
    .page-width {
        padding-left: 55px;
        padding-right: 55px;
        display: none;
    }

</style>