<section class="about-card-area">
    <div class="containe">
        <div class="about-card">
            <p>Hoa’s parents were refugees from Vietnam and Laos who resettled in the U.S. Sunny’s family immigrated
                from South Korea to the U.S. for better opportunities. Our parents showed us the value of hustling
                and how a hard work ethic can lead to success, especially in the face of adversity. We met in NYC
                and bonded over our cultural pride and in overindulging in Asian cuisines, all of which led to the
                birth of WE ARE CHIMMI.</p>
            <p style="margin: 12px 0;">WE ARE CHIMMI, short for "We Are Children of Immigrants," is a community
                building platform that celebrates the immigrant hustle. We sell accessories we grew up loving and
                <span class="fw-bold">donate 10% of profits from sales to organizations supporting immigrants and
                    marginalized communities.</span> Currently, we are donating to Welcome to <span
                    style="color: #B5B35C ;">Chinatown </span> and <span style="color: #B5B35C ;">It Gets
                    Better</span>. Organizations we have donated to in the past to include: </p>

            <li><a href="#">NAACP Legal Defense Fund</a></li>
            <li><a href="#">The Equal Justice Initiative</a></li>
            <li><a href="#">The Ali Forney Center</a></li>
            <li><a href="#">The Ali Forney Center</a></li>
            <li><a href="#">The Young Center</a></li>
            <li><a href="#">Send Chinatown Love</a></li>
            <li><a href="#">Rethink</a></li>
            <li><a href="#">Rethink</a></li>

            <p>Beyond sharing our favorite products, we also share inspirational stories from our own brand, other
                independent businesses, and the organizations we support.</p>
            <p>:We aim to foster meaningful partnerships and create a positive community that supports one another
                and that celebrates all of our unique cultures. We invite you to #jointhehustle.</p>
            <h6>- Hoa & Sunny</h6>
        </div>
        {{section.settings.html}}
    </div>
</section>


{% schema %}
    {
        "name": "Custome About Page",
        "class": "about",
        "settings": [
        {
            "type": "html",
            "id": "html",
            "label": "About Html",
            "default": "<div class='about-card'></div>"
        }
        ],	
        "presets": [
            {
              "name": "Custome About Section"
            }]
    }
{% endschema %}
