  
  {% include 'customeoffsetmenu' %}



<header>
    <div class="header-top-wrapper home-middle-wrapper d-flex align-items-center">
        <div id="splide1-{{section.id}}" class="splide">
            <div class="splide__track">
              <ul class="splide__list">
                {% for item in section.blocks %}
                <li class="splide__slide d-flex align-items-center">
                   <div class="top-bar-svg d-inline-block">
                        {% include 'svganounce-bar-start' %}
                   </div>
                   <p> 
                    {{item.settings.text}}
                  </p> 
               </li>
            {% endfor %}
                
              </ul>
            </div>
          </div>
          
    </div>
   
   
  </header>
  



{% schema %}
    {
        "name": "Custome Bannar",
        "class": "header",
        "settings": [],
        "blocks": [
            {
                "type": "slide",
                "name": "Announcement",
                "settings": [
                    {
                        "type": "text",
                        "id": "text",
                        "label": "Please put your anounce text",
                        "default": "FREE US SHIPPING ON ORDERS OVER $100",
                        "placeholder": "FREE US SHIPPING ON ORDERS OVER $100"
                    }
                ]
            }
        ],	
        "presets": [
            {
              "name": "Home Middle bannar"
            }]
        
    }
{% endschema %}



  <script>

  
      // top bannar insitalization 
      new Splide( '#splide1-{{section.id}}' , {
        type: 'loop',
        pagination : false,
        arrows     : false,
        drag   : 'free',
        focus  : 'center',
        gap         : 10,
        autoScroll: {
          speed: 2,
        },
        breakpoints : {
          '200': {
            perPage: 1,
          },
          '600': {
            perPage: 2,
          },
          '1020': {
            perPage: 2,
          },
          '1333': {
            perPage: 3,
          },
          '1500': {
            perPage: 4,
          },
          '1920': {
            perPage: 5,
          }
      },
        
      }).mount( window.splide.Extensions );
    

  </script>




<style>
  .top-bar-svg {
    width: 16px;
    height: 16px;
}

</style>
