    <div class="header-top-wrapper d-flex align-items-center">
        <div id="splide" class="splide">
            <div class="splide__track">
              <ul class="splide__list">
                {% for item in section.blocks %}
                <li class="splide__slide d-flex align-items-center">
                   <div class="top-bar-svg d-inline-block">
                        {% include 'svganounce-bar-start' %}
                   </div>
                   <p> 
                    {{item.settings.text}}
                  </p> 
               </li>
            {% endfor %}
                
              </ul>
            </div>
          </div>
          
    </div>


    {% schema %}
    {
        "name": "Header",
        "class": "header",
        "settings": [
           
        {
            "type": "image_picker",
            "id": "img",
            "label": "Please Select your logo"
        },
        {
            "type": "link_list",
            "id": "sub4",
            "label": "Select your Menu",
            "info": "Menu"
        }
        ],
        "blocks": [
            {
                "type": "slide",
                "name": "Announcement",
                "settings": [
                    {
                        "type": "text",
                        "id": "text",
                        "label": "Please put your anounce text",
                        "default": "FREE US SHIPPING ON ORDERS OVER $100",
                        "placeholder": "FREE US SHIPPING ON ORDERS OVER $100"
                    }
                ]
            }
        ]
        
    }
{% endschema %}
