    <div class="header-top-wrapper d-flex align-items-center">
        <div id="splide" class="splide">
            <div class="splide__track">
              <ul class="splide__list">
                {% for item in section.blocks %}
                <li class="splide__slide d-flex align-items-center">
                   <div class="top-bar-svg d-inline-block">
                        {% include 'svganounce-bar-start' %}
                   </div>
                   <p> 
                    {{item.settings.text}}
                  </p> 
               </li>
            {% endfor %}
                
              </ul>
            </div>
          </div>
          
    </div>