
<div class="general-all-page">
 <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-wrapper-c">
        <div class="csection-header text-center">
          <h1>{{ page.title }}</h1>
        </div>
        {% if page.content.size > 0 %}
          <div class="page-content">
            {{ page.content }}
          </div>
        {% endif %}
      </div>
    </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "t:sections.page-template.name"
}
{% endschema %}