body {
  /* background-image: url("grid-bg3-dark.png") !important;
  background-repeat: repeat; */
  background-color: #121212 !important;
}

.header__icon--cart .icon {
    height: 3.5rem !important;
    width: 3.5rem !important;
}

.header__icon .icon-search {
    height: 3rem;
    width: 3rem;
}

.header__menu-item span {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.8rem;
}

.footer {
  background-color: #1947ba;
}

.product__title {
  margin-top: 5px !important;
}

.product__title h1 span {
  background-color: #1947ba;
  padding: 5px;
}