@font-face {
  font-family: "Jost";
  src: url("jost-v14-latin-regular.eot");
  src: url("jost-v14-latin-regular.woff") format("woff"), url("jost-v14-latin-regular.ttf") format("truetype"), url("jost-v14-latin-regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url("GT-Super-Text-Black.woff2") format("woff");
  font-family: "GT Super Txt Trial";
  font-style: normal;
  font-weight: 700;
}
@font-face {
  src: url("GT-Super-Text-Bold.woff2") format("woff");
  font-family: "GT Super Txt Trial";
  font-style: normal;
  font-weight: 600;
}
@font-face {
  src: url("GT-Super-Text-Medium.woff2") format("woff");
  font-family: "GT Super Txt Trial";
  font-style: normal;
  font-weight: 500;
}
@font-face {
  src: url("GT-Super-Text-Regular.woff2") format("woff");
  font-family: "GT Super Txt Trial";
  font-style: normal;
  font-weight: 600;
}
body {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.img {
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.fix {
  overflow: hidden;
}

a,
.button {
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a,
button {
  color: #1696e7;
  outline: medium none;
}

button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #373737;
  font-family: "GT Super Txt Trial";
  font-style: normal;
  font-weight: 700;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  margin-bottom: 0px;
}

hr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  border-top: 0 none;
  margin: 18px 0;
}

label {
  cursor: pointer;
  font-size: 18px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
}

option {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
}

*::-moz-selection {
  background: #d6b161;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

*::-moz-placeholder {
  color: #555555;
  font-size: 14px;
  opacity: 1;
}

*::-webkit-input-placeholder {
  color: #555555;
  font-size: 14px;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #555555;
  font-size: 14px;
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #555555;
  font-size: 14px;
  opacity: 1;
}

*::placeholder {
  color: #555555;
  font-size: 14px;
  opacity: 1;
}

.theme-overlay {
  position: relative;
}

.theme-overlay::before {
  background: #EA5B0C;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
}

.separator {
  border-top: 1px solid #f2f2f2;
}

/* button style */
.btn {
  -moz-user-select: none;
  background: #fff;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  border-radius: 0px;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 0;
  padding: 15px 20px;
  text-align: center;
  text-transform: matrix(-1, 0, 0, 1, 0, 0);
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  border-color: #000;
  text-decoration: inherit;
  font-family: system-ui;
  border-image-slice: 1;
}

.btn:hover {
  color: #000;
}

.breadcrumb > .active {
  color: #888;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  display: inline-block;
}

a {
  text-decoration: none;
  font-weight: 500;
  font-family: "Jost";
  font-size: 14px;
  color: #545151;
}
a:hover {
  color: #000;
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
}

div#backToCollection {
  margin: 40px 0;
}

@media (min-width: 768px) {
  h4 {
    font-size: 13px;
  }
}

.header-top-wrapper {
  overflow: hidden;
  position: relative;
  z-index: 1000;
  height: 40px;
  background: #B5B35C;
}
.header-top-wrapper .splide__slide p {
  margin-left: 8px;
  font-family: Jost;
  font-weight: 400;
}
.header-top-wrapper .splide__slide .top-bar-svg img {
  vertical-align: top;
}

.logo {
  margin-right: 24px;
}

.search-from {
  height: 40px;
}
@media (min-width: 992px) {
  .search-from {
    width: 351px;
  }
}
.search-from .search-form .form-group {
  position: relative;
  margin-bottom: 0;
}
.search-from .search-form .form-group #s {
  padding: 9px 15px;
  border: 1px solid #000000;
  border-radius: 4px;
  background: #F8F8F8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.search-from .search-form .form-group .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.search-from .search-form .icon {
  position: absolute;
  top: 50%;
  right: 8px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.main-menu ul li {
  display: inline-block;
  margin-right: 32px;
}
.main-menu ul li a {
  font-size: 20px;
  font-family: "Jost";
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: block;
  height: 100%;
  padding: 37px 0;
}
.main-menu ul li a p {
  font-size: 20px;
  font-family: "Jost";
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}
.main-menu ul li a .menu-arrow {
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.main-menu ul li a .menu-arrow img {
  display: inline-block;
  vertical-align: middle;
}
.main-menu ul li:last-child {
  margin-right: 0;
}

@media (min-width: 1200px) {
  .user-cart-navigation {
    margin-left: 30px;
  }
}
@media (min-width: 1400px) {
  .user-cart-navigation {
    margin-left: 48px;
  }
}
.user-cart-navigation ul li a {
  padding: 10px;
}

.main-header-wrapper {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  position: relative;
  height: 152px;
}
@media (min-width: 992px) {
  .main-header-wrapper {
    height: 104px;
  }
}
.main-header-wrapper .submenu {
  padding: 0;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
}

.main-header-wrapper .submenu {
  opacity: 0;
  visibility: hidden;
  padding: 0;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 100%;
  background: #fff;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.main-header-wrapper .singel-menu {
  padding: 10px 0;
}
.main-header-wrapper .singel-menu ul li {
  text-align: left;
  display: block;
}
.main-header-wrapper .singel-menu ul li a {
  font-family: "GT Super Txt Trial";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 24px;
  padding: 0;
  color: #000000;
}

.main-menu ul li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  top: 101%;
  z-index: 1000;
}

.list-unstyled.components li {
  display: block;
}
.list-unstyled.components li a {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}
.list-unstyled.components li ul li a {
  color: #000000;
  font-family: "GT Super Txt Trial";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

#sidebar {
  color: #000;
  background: #fff;
}

#sidebar.active {
  left: 0;
  right: 0;
  width: 100%;
}

.sider-bar-top {
  padding: 0 24px 0 16px;
}
.sider-bar-top .sidebar-header-logo {
  margin: 38px 0 32px 8px;
}

#sidebar ul li {
  padding: 0 24px;
  border-top: 1px solid #000;
  border-top: 1px solid #000;
}
#sidebar ul li a:hover {
  color: #000;
}
#sidebar ul li ul {
  margin-bottom: 10px;
}
#sidebar ul li ul li {
  border: none;
}

.m-rotate {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.list-unstyled.navigation ul li {
  display: block;
}

.crote {
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

#sidebar {
  z-index: 1011;
}

header.site-header.border-bottom.logo--left {
  display: none;
}

.home-middle-wrapper {
  border-top: 1px solid #000;
}

.logo {
  margin-right: 24px;
  width: 143px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .logo {
    margin-bottom: 0px;
  }
}

.sidebar-header-logo {
  width: 150px;
}

.search-wrapper {
  position: relative;
  display: none;
}
.search-wrapper .search-close {
  position: absolute;
  right: 1%;
  top: 10px;
  z-index: 10000;
}

.search-wrapper.active {
  display: block;
}

div#suggeationlist {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background: #fff;
}
@media (min-width: 250px) {
  div#suggeationlist {
    padding: 39px 5px;
  }
}
@media (min-width: 576px) {
  div#suggeationlist {
    padding: 39px 5px;
    margin-top: 0px;
  }
}
@media (min-width: 576px) {
  div#suggeationlist {
    padding: 39px 10px;
  }
}
@media (min-width: 768px) {
  div#suggeationlist {
    padding: 39px 15px;
  }
}
@media (min-width: 992px) {
  div#suggeationlist {
    padding: 39px 68px;
  }
}

.searchplaceholder {
  width: 100%;
}

.collection-wrapper {
  width: 20%;
}

.proudct-werapper {
  text-align: center;
}
.proudct-werapper h3 {
  margin-left: 10px;
}
@media (min-width: 992px) {
  .proudct-werapper {
    text-align: left;
  }
}

.singel-porducta {
  width: 172px;
  display: inline-block;
}
@media (min-width: 768px) {
  .singel-porducta {
    margin: 20px 0;
  }
}
@media (min-width: 992px) {
  .singel-porducta {
    display: block;
    margin: 0;
  }
}
.singel-porducta h4 {
  text-align: center;
}

.proudct-werapper {
  overflow: hidden;
}
@media (min-width: 768px) {
  .proudct-werapper {
    margin-bottom: 38px;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .proudct-werapper {
    margin-bottom: 0;
    text-align: left;
  }
}

.proudct-werappera {
  text-align: center;
}

.singel-porduct {
  margin: 0 10px;
  display: inline-block;
  text-align: center;
  position: relative;
  height: 330px;
}
@media (min-width: 250px) {
  .singel-porduct {
    width: 113px;
    height: 253px;
  }
}
@media (min-width: 576px) {
  .singel-porduct {
    width: 152px;
    height: 270px;
  }
}
@media (min-width: 768px) {
  .singel-porduct {
    width: 166px;
    height: 330px;
  }
}
@media (min-width: 992px) {
  .singel-porduct {
    width: 166px;
    height: 330px;
  }
}
@media (min-width: 1200px) {
  .singel-porduct {
    width: 172px;
  }
}
.singel-porduct a h4 {
  font-size: 15px;
  font-family: "Jost";
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: block;
  width: 100%;
  position: absolute;
  z-index: 10;
}
@media (min-width: 768px) {
  .singel-porduct a h4 {
    padding: 13px 0;
  }
}
@media (min-width: 992px) {
  .singel-porduct a h4 {
    padding: 37px 0;
  }
}

.shop-banner {
  background: #D77628;
  border-bottom: 1px solid #000000;
  padding: 7px 0;
}

.single-shop-product svg {
  width: 252px;
  height: 351px;
}
@media (min-width: 250px) and (max-width: 575px) {
  .single-shop-product svg {
    width: 171px;
    height: 238px;
  }
}

@media (min-width: 1200px) and (max-width: 1299px) {
  .single-shop-product svg {
    width: 236px;
    height: 345px;
  }
}
.shop-breadcrumb {
  font-family: "Jost";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.single-shop-product {
  margin-left: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 576px) {
  .single-shop-product {
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.SortBy {
  border: none;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  height: 65px;
  opacity: 1;
  color: #000000;
  font-family: "GT Super Txt Trial";
  font-weight: 700;
  padding: 0 0px 0 5px;
  font-size: 20px;
}

.mobile-filtera .icon-absolute-sort {
  position: absolute;
  right: 0px;
  top: 32%;
}
@media (min-width: 576px) {
  .mobile-filtera .icon-absolute-sort {
    right: 4px;
    top: 22%;
  }
}

@media (min-width: 576px) {
  .shop-extra-magin {
    margin-top: 40px;
  }
}

.SortBy:focus-visible {
  outline: none;
  border: none;
}

.menu-tooglewrapper.d-lg-none {
  position: relative;
  z-index: 1000;
}

.bannar-wrapper {
  background: rgb(242, 224, 133);
  position: relative;
}
.bannar-wrapper .bannar-left-image img {
  width: 100%;
}
.bannar-wrapper .bannar-right-wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}
.bannar-wrapper .bannar-right-wrapper .bannar-wev-image {
  margin-bottom: 70px;
}
.bannar-wrapper .bannar-right-wrapper h1 {
  font-family: "GT Super Txt Trial";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
  text-align: center;
  color: #000000;
}
.bannar-wrapper .bannar-right-wrapper p {
  margin-top: 32px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}
.bannar-wrapper .bannar-right-wrapper .bannar-btn-area {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-top: 64px;
}
.bannar-wrapper .bannar-right-wrapper .bannar-btn-area a.btn {
  font-family: "GT Super Txt Trial";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  display: inline-block;
  background-color: rgb(181, 179, 92);
  padding: 14px 40px 14px;
  border-radius: 0;
  border: 2px solid #000000;
  color: #000000 !important;
}
.bannar-wrapper .bannar-right-wrapper .bannar-btn-area::after {
  position: absolute;
  content: "";
  top: 6px;
  right: -6px;
  width: 100%;
  height: 100%;
  border: 2px solid #000000;
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.bannar-wrapper .bannar-right-wrapper .bannar-btn-area:hover.bannar-btn-area::after {
  opacity: 1;
}
.bannar-wrapper .bannar-shape-1 {
  -webkit-animation: 3s ease-in-out 0.6s infinite upAndDown;
  animation: 3s ease-in-out 0.6s infinite upAndDown;
}
.bannar-wrapper .bannar-shape-1 img {
  text-align: center;
}
@media (min-width: 250px) {
  .bannar-wrapper .bannar-shape-1 img {
    width: 120px;
  }
}
@media (min-width: 576px) {
  .bannar-wrapper .bannar-shape-1 img {
    width: 120px;
  }
}
@media (min-width: 992px) {
  .bannar-wrapper .bannar-shape-1 img {
    width: 170px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .bannar-wrapper .bannar-shape-1 img {
    width: 150px;
  }
}
@media (min-width: 1400px) {
  .bannar-wrapper .bannar-shape-1 img {
    width: 212px;
  }
}
@media (min-width: 250px) {
  .bannar-wrapper .bannar-shape-1 {
    position: absolute;
    top: 30.5%;
    right: 10px;
    z-index: 1;
    text-align: center;
  }
}
@media (min-width: 576px) {
  .bannar-wrapper .bannar-shape-1 {
    position: absolute;
    top: 39.5%;
    right: 28px;
    z-index: 1;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .bannar-wrapper .bannar-shape-1 {
    position: absolute;
    top: 56%;
    right: 32px;
    z-index: 1;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .bannar-wrapper .bannar-shape-1 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 115px;
    z-index: 1;
    text-align: center;
  }
}
.bannar-wrapper .bannar-shape-2 {
  position: absolute;
  -webkit-animation: 60s ease-in-out 0.6s infinite rotate-center;
  animation: 60s ease-in-out 0.6s infinite rotate-center;
  z-index: 10;
  text-align: center;
}
@media (min-width: 250px) {
  .bannar-wrapper .bannar-shape-2 {
    right: 39px;
    bottom: -50px;
  }
}
@media (min-width: 992px) {
  .bannar-wrapper .bannar-shape-2 {
    right: 69px;
    bottom: -90px;
  }
}
.bannar-wrapper .bannar-shape-2 img {
  text-align: center;
}
@media (min-width: 250px) {
  .bannar-wrapper .bannar-shape-2 img {
    width: 107px;
  }
}
@media (min-width: 992px) {
  .bannar-wrapper .bannar-shape-2 img {
    width: 150px;
  }
}
@media (min-width: 1200px) {
  .bannar-wrapper .bannar-shape-2 img {
    width: 170px;
  }
}
@media (min-width: 1400px) {
  .bannar-wrapper .bannar-shape-2 img {
    width: 186px;
  }
}

@-webkit-keyframes upAndDown {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 5%, 0);
    transform: translate3d(0, 5%, 0);
  }
}

@keyframes upAndDown {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 5%, 0);
    transform: translate3d(0, 5%, 0);
  }
}
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.home-join-wrapper {
  background: #BFEAFF;
  border-top: 1px solid #000000;
  padding: 40px 0;
}

.join-image-wrapper {
  margin: 40px 0;
  text-align: center;
}
.join-image-wrapper img {
  display: inline-block;
}

.join-content-wrapper {
  margin: 40px 0 40px 4px;
}
.join-content-wrapper h2 {
  font-family: "GT Super Txt Trial";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #000000;
  margin-bottom: 24px;
}
.join-content-wrapper p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 32px;
}
.join-content-wrapper .join-btn {
  display: inline-block;
  border-bottom: 1px solid #000;
}
.join-content-wrapper .join-btn a.btnn p {
  font-family: "GT Super Txt Trial";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  padding-right: 5px;
  letter-spacing: 2px;
  color: #000000;
}

.newslatter-wrapper .form-wrapper {
  text-align: center;
  padding: 0 18px;
}

.section-title h2 {
  font-family: "GT Super Txt Trial";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 60px;
  margin: 28px 0;
  color: #000000;
}
@media (min-width: 576px) {
  .section-title h2 {
    font-size: 40px;
  }
}

.common-margin-common {
  overflow: hidden;
}
@media (min-width: 1400px) {
  .common-margin-common {
    margin: 10px 45px 0 45px;
  }
}

.slider-wrapper {
  margin: 28px 0;
}

.common-product-wrapper {
  padding: 60px 0px;
  border-top: 1px solid #000000;
}
@media (min-width: 1400px) {
  .common-product-wrapper {
    padding: 60px 0px;
    border-top: 1px solid #000000;
  }
}
.common-product-wrapper .singel-product-svg-wrapper {
  text-align: center;
  margin: 28px 0;
}
.common-product-wrapper .custome-arrow {
  width: 40px;
  height: 40px;
  background: #fff;
  border: 2px solid #000000;
  border-radius: 0;
  opacity: 1;
  margin: 0 12px;
}
.common-product-wrapper button.splide__arrow.custome-arrow.active {
  background: #B5B35C;
}

.splide__arrows {
  padding: 25px 0 40px 0;
}

.svg-icon-here {
  position: relative;
}
.svg-icon-here .prudct-shado-svg {
  position: absolute;
  z-index: -1;
  top: 12px;
  left: 12px;
  opacity: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.svg-icon-here:hover .prudct-shado-svg {
  opacity: 1;
}

.prouct-details h2 {
  font-family: "GT Super Txt Trial";
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  font-size: 22px;
  line-height: 53px;
  text-align: center;
  margin: 25px 0 4px 0;
}
@media (min-width: 576px) {
  .prouct-details h2 {
    font-size: 24px;
  }
}
.prouct-details p {
  margin: 8px 0 45px 0;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.ptype-1.prouct-details h2 {
  color: #000000;
  padding: 0 9px;
}
.ptype-1.prouct-details p {
  color: #B5B35C;
}

@media (min-width: 576px) {
  .egg-mobile-respinsive svg {
    width: 309px;
  }
}
@media (min-width: 1200px) and (max-width: 1299px) {
  .egg-mobile-respinsive svg {
    width: 300px;
  }
}
@media (min-width: 250px) and (max-width: 575px) {
  .egg-mobile-respinsive svg {
    width: 85%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .egg-mobile-respinsive svg {
    width: 90%;
  }
}

.common-product-wrapper.t-shirt {
  margin: 0;
  padding: 60px 0px;
}
@media (min-width: 1400px) {
  .common-product-wrapper.t-shirt {
    margin: 0;
    padding: 60px 37px;
  }
}

@media (min-width: 1200px) {
  .extra-b-margin {
    padding: 0 20px;
  }
}
@media (min-width: 1400px) {
  .extra-b-margin {
    padding: 0px;
  }
}

.t-shirt {
  background: #5E6B61;
}
.t-shirt .section-title h2 {
  color: #fff;
}

.t-shirt-content h2 {
  color: #fff;
  padding: 10px;
}
.t-shirt-content p {
  color: #B5B35C;
}

.t-shirt-mobile {
  width: 90%;
  height: auto;
}
@media (min-width: 576px) {
  .t-shirt-mobile {
    width: 95%;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .t-shirt-mobile {
    width: 300px;
  }
}
@media (min-width: 1400px) {
  .t-shirt-mobile {
    width: 95%;
  }
}
@media (min-width: 1800px) {
  .t-shirt-mobile {
    width: 424px;
  }
}

.newslatter-wrapper {
  padding: 104px 0;
  background: #F2E085;
  position: relative;
}
.newslatter-wrapper .section-title h2 {
  font-family: "GT Super Txt Trial";
  font-style: normal;
  font-weight: 700;
}
@media (min-width: 250px) {
  .newslatter-wrapper .section-title h2 {
    font-size: 30px;
  }
}
@media (min-width: 576px) {
  .newslatter-wrapper .section-title h2 {
    font-size: 56px;
    line-height: 84px;
  }
}
@media (min-width: 1200px) {
  .newslatter-wrapper .section-title h2 {
    font-size: 40px;
    line-height: 84px;
  }
}
@media (min-width: 1400px) {
  .newslatter-wrapper .section-title h2 {
    font-size: 56px;
    line-height: 84px;
  }
}
.newslatter-wrapper .newslater-shape {
  -webkit-animation: 3s ease-in-out 0.6s infinite upAndDown;
  animation: 3s ease-in-out 0.6s infinite upAndDown;
  position: absolute;
  right: 86px;
  bottom: 52px;
}
@media (min-width: 250px) {
  .newslatter-wrapper .newslater-shape {
    right: 60px;
    top: 10px;
  }
}
@media (min-width: 576px) {
  .newslatter-wrapper .newslater-shape {
    right: 60px;
    top: 3px;
  }
}
@media (min-width: 768px) {
  .newslatter-wrapper .newslater-shape {
    right: 86px;
    top: 20px;
  }
}
@media (min-width: 992px) {
  .newslatter-wrapper .newslater-shape {
    right: 86px;
    bottom: 52px;
  }
}
@media (min-width: 250px) {
  .newslatter-wrapper .newslater-shape img {
    width: 100px;
  }
}
@media (min-width: 576px) {
  .newslatter-wrapper .newslater-shape img {
    width: auto;
  }
}
.newslatter-wrapper .form-wrapper {
  text-align: center;
}
.newslatter-wrapper .form-wrapper .form-group {
  display: inline-block;
  border: 2px solid #000000;
  border-radius: 4px;
}
@media (min-width: 250px) {
  .newslatter-wrapper .form-wrapper .form-group {
    width: 100%;
    height: 45px;
  }
}
@media (min-width: 576px) {
  .newslatter-wrapper .form-wrapper .form-group {
    width: 424px;
    height: 64px;
  }
}
.newslatter-wrapper .form-wrapper .form-group input.form-control {
  padding-left: 32px;
}
.newslatter-wrapper .form-wrapper .form-group input.form-control::-webkit-input-placeholder {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.newslatter-wrapper .form-wrapper .form-group input.form-control::-moz-placeholder {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.newslatter-wrapper .form-wrapper .form-group input.form-control:-ms-input-placeholder {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.newslatter-wrapper .form-wrapper .form-group input.form-control::-ms-input-placeholder {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.newslatter-wrapper .form-wrapper .form-group input.form-control::placeholder {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.newslatter-wrapper button.form-btn {
  border: none;
  border-left: 3px solid #000000;
  background: #B5B35C;
}
@media (min-width: 250px) {
  .newslatter-wrapper button.form-btn {
    height: 41px;
    width: 60px;
  }
}
@media (min-width: 576px) {
  .newslatter-wrapper button.form-btn {
    height: 60px;
    width: 60px;
  }
}

.trigger {
  text-align: center;
  padding: 7px 13px;
  background: #3e3e3e;
  color: #fff;
  font-size: 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: cursive;
}

.cmodal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 1000;
  -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
  -o-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}

.cmodal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  width: 366px;
  border-radius: 0.5rem;
}
@media (min-width: 768px) {
  .cmodal-content {
    width: 424px;
  }
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  -o-transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}

.modal-images {
  position: relative;
}
.modal-images .close-button {
  position: absolute;
  top: 16px;
  right: 30px;
}

.cmodal-content {
  background: #F2E085;
}

.modal-content-c {
  padding: 46px 28px;
  border-top: 1px solid #000;
  text-align: center;
  background: #F2E085;
}
@media (min-width: 768px) {
  .modal-content-c {
    padding: 46px;
  }
}
.modal-content-c h5 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.cmodal .input-group {
  border: 2px solid #000;
}
.cmodal .input-group input.form-control {
  padding: 18px 24px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */
  /* Current / Mild Olive */
  color: #A3A59B;
  height: 56px;
  background: #F3F3F3;
}
.cmodal .input-group svg {
  height: 56px;
}
.cmodal .input-group button {
  border: none;
  border-left: 2px solid #000;
  background: #B5B35C;
  padding: 0 11px;
}

.footer-wrapper {
  background-color: #5E6B61;
  padding: 60px 0;
}
.footer-wrapper .footer-logo {
  margin: 40px 0 24px 0;
  text-align: center;
}
@media (min-width: 768px) {
  .footer-wrapper .footer-logo {
    margin: 0px 0 24px 0;
  }
}
.footer-wrapper .footer-logo img {
  display: inline-block;
  width: 270px;
}
@media (min-width: 576px) {
  .footer-wrapper .footer-logo img {
    width: 250px;
  }
}
@media (min-width: 768px) {
  .footer-wrapper .footer-logo img {
    width: 390px;
  }
}
.footer-wrapper .footer-socail {
  text-align: center;
  margin-bottom: 24px;
}
.footer-wrapper .footer-socail ul li {
  margin: 0 19px;
}

.footer-right-menu {
  margin: 50px 0 0px 0;
}
.footer-right-menu .sinel-menu-item h6 {
  font-family: "GT Super Txt Trial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  color: #F8F8F8;
  margin-bottom: 40px;
}
@media (min-width: 576px) {
  .footer-right-menu .sinel-menu-item h6 {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .footer-right-menu .sinel-menu-item h6 {
    font-size: 20px;
  }
}
.footer-right-menu .singel-menu-item {
  margin: 40px 0px;
}
.footer-right-menu .singel-menu-item li {
  display: block;
}
.footer-right-menu .singel-menu-item li a {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  display: block;
  line-height: 30px;
  color: #F8F8F8;
  margin: 16.5px 0;
}
@media (min-width: 576px) {
  .footer-right-menu .singel-menu-item li a {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .footer-right-menu .singel-menu-item li a {
    font-size: 20px;
  }
}

.footer-copy-right {
  background-color: #5E6B61;
  padding: 30px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-color: #A3A59B;
}
.footer-copy-right .f-copy-text p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  line-height: 24px;
  color: #F8F8F8;
}

.footer-wrapper {
  position: relative;
}
.footer-wrapper .footer-human-shap {
  position: absolute;
}
@media (min-width: 250px) {
  .footer-wrapper .footer-human-shap {
    top: -75px;
    left: 4px;
  }
}
@media (min-width: 576px) {
  .footer-wrapper .footer-human-shap {
    top: -75px;
    left: 74px;
  }
}
@media (min-width: 768px) {
  .footer-wrapper .footer-human-shap {
    top: -75px;
    left: 74px;
  }
}
@media (min-width: 992px) {
  .footer-wrapper .footer-human-shap {
    top: -96px;
    left: 20px;
  }
}
@media (min-width: 1200px) {
  .footer-wrapper .footer-human-shap {
    top: -121px;
    left: 20px;
  }
}
@media (min-width: 1400px) {
  .footer-wrapper .footer-human-shap {
    top: -154px;
    left: 200px;
  }
}
@media (min-width: 250px) {
  .footer-wrapper .footer-human-shap img {
    width: 150px;
  }
}
@media (min-width: 768px) {
  .footer-wrapper .footer-human-shap img {
    width: 150px;
  }
}
@media (min-width: 992px) {
  .footer-wrapper .footer-human-shap img {
    width: 200px;
  }
}
@media (min-width: 1200px) {
  .footer-wrapper .footer-human-shap img {
    width: auto;
  }
}

.footer-wrapper {
  position: relative;
}
.footer-wrapper .footer-human-shap.proudct-area-shap {
  position: absolute;
}
@media (min-width: 250px) {
  .footer-wrapper .footer-human-shap.proudct-area-shap {
    top: -75px;
    left: 4px;
  }
}
@media (min-width: 576px) {
  .footer-wrapper .footer-human-shap.proudct-area-shap {
    top: -75px;
    left: 74px;
  }
}
@media (min-width: 768px) {
  .footer-wrapper .footer-human-shap.proudct-area-shap {
    top: -77px;
    left: 74px;
  }
}
@media (min-width: 992px) {
  .footer-wrapper .footer-human-shap.proudct-area-shap {
    top: -96px;
    left: 20px;
  }
}
@media (min-width: 1200px) {
  .footer-wrapper .footer-human-shap.proudct-area-shap {
    top: -96px;
    left: 20px;
  }
}
@media (min-width: 1400px) {
  .footer-wrapper .footer-human-shap.proudct-area-shap {
    top: -120px;
    left: 200px;
  }
}
@media (min-width: 250px) {
  .footer-wrapper .footer-human-shap.proudct-area-shap img {
    width: 150px;
  }
}
@media (min-width: 768px) {
  .footer-wrapper .footer-human-shap.proudct-area-shap img {
    width: 150px;
  }
}
@media (min-width: 992px) {
  .footer-wrapper .footer-human-shap.proudct-area-shap img {
    width: 186px;
  }
}
@media (min-width: 1200px) {
  .footer-wrapper .footer-human-shap.proudct-area-shap img {
    width: 186px;
  }
}

@media (min-width: 250px) {
  .sinel-menu-item {
    margin-left: 17px;
  }
}
@media (min-width: 576px) {
  .sinel-menu-item {
    margin-left: 0px;
  }
}

.product-slider-wrapper {
  padding: 40px 0;
}
@media (min-width: 768px) {
  .product-slider-wrapper {
    padding: 50px 0;
  }
}
.product-slider-wrapper .splide__track .splide__list .splide__slide.product-page {
  border: none !important;
}
@media (min-width: 250px) {
  .product-slider-wrapper .splide__track .splide__list .splide__slide.product-page svg {
    margin-left: 18px;
    height: 467px;
    width: 334px;
  }
}
@media (min-width: 576px) {
  .product-slider-wrapper .splide__track .splide__list .splide__slide.product-page svg {
    margin-left: 18px;
    height: 605px;
    width: 436px;
  }
}
@media (min-width: 1400px) {
  .product-slider-wrapper .splide__track .splide__list .splide__slide.product-page svg {
    margin-left: 18px;
  }
}

input.search-form__input.search-bar__input {
  padding: 9px 15px;
  border: 1px solid #000000;
  border-radius: 4px;
  background: #F8F8F8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.splide__track--nav > .splide__list > .splide__slide.is-active {
  border: none;
}

.proudct-wrapper-content {
  padding: 50px 0;
}
.proudct-wrapper-content .product-single__title {
  font-family: "GT Super Txt Trial";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #000000;
  text-transform: uppercase;
}
.proudct-wrapper-content .selector-wrapper-custome {
  margin: 15px 0 12px 0;
}
.proudct-wrapper-content .selector-wrapper-custome label {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  margin-right: 40px;
  width: 88px;
}
.proudct-wrapper-content .selector-wrapper-custome select {
  width: 168px;
  max-height: 41px;
  border: 2.5px solid #000;
}

.custome-class-quantity {
  font-family: "GT Super Txt Trial";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  padding: 0;
  text-align: center;
  color: #000000;
  border: none;
}

.product-form__input--quantity {
  max-width: 4.5rem;
}

.product-svg-down {
  position: absolute;
  left: 273px;
}

span.price-item.price-item--regular {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #B5B35C;
}

.price__regular {
  margin-top: 4px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #B5B35C;
}

hr {
  margin: 28px 0;
  border: 1px solid #000000 !important;
  opacity: 1;
}

.product-form__controls-group ~ .product-form__controls-group--submit {
  margin-top: 36px;
}

button.btn.product-form__cart-submit.btn--secondary-accent {
  padding: 12px 32px;
  gap: 12px;
  height: 48px;
  text-transform: capitalize;
  background: #B5B35C;
  font-family: "GT Super Txt Trial";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: 2px solid #000000;
}

.shopify-dynamic-pay .shopify-cleanslate div {
  height: 48px;
  background: #F2E085 !important;
  margin-top: 12px;
  border: 2px solid #000000 !important;
}

.restockify-notify-button {
  padding: 10 !important;
}

.product-single__description {
  margin-top: 30px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.product-single__description p, .product-single__description span, .product-single__description div {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.product-single__description > ul {
  margin-top: 10px;
  list-style-type: disc !important;
}
.product-single__description > ul li {
  display: block;
  list-style-type: disc !important;
}

ul.social-sharing li a {
  border: none;
  margin-right: 0;
  padding: 0 10px;
}

.proudct-page-wrapper {
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .proudct-page-wrapper {
    padding: 50px 0;
  }
}

.splide__track--fade > .splide__list {
  display: block;
  text-align: center;
}
@media (min-width: 992px) {
  .splide__track--fade > .splide__list {
    text-align: left;
  }
}

.splide__pagination {
  bottom: -2.5em;
  left: 0;
  padding: 0 1em;
  position: absolute;
  right: 0;
  z-index: 1;
}

ul.splide__pagination.splide__pagination--ltr li .splide__pagination__page {
  width: 10px;
  height: 10px;
  margin: 5px;
  padding: 5px;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  background: #000000;
  opacity: 0.4;
}
ul.splide__pagination.splide__pagination--ltr li .splide__pagination__page.is-active {
  opacity: 1;
  border: 1px solid #000;
  position: relative;
}
ul.splide__pagination.splide__pagination--ltr li .splide__pagination__page.is-active::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background: transparent;
  border: 2px solid #ddd;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.splide__pagination li {
  display: inline-block;
  line-height: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  pointer-events: auto;
}

.pagination ul li.active {
  background: #B5B35C;
}

.pagination ul li a {
  display: block;
  line-height: 40px;
  font-family: "GT Super Txt Trial";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  font-size: 20px;
  text-align: center;
  color: #000000;
}

.pagination ul li:first-child {
  border: none;
}

.pagination ul li:last-child {
  border: none;
}

.pagination-wrapper {
  text-align: center;
}

.pagination {
  margin-top: 70px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pagination ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.breade-comearrow {
  margin: 0 11px;
}

.selector-wrapper::last-child svg {
  left: 232px;
}

.sigle-blog-hero img {
  width: 100%;
}

.sigle-content-area {
  background: #F8F8F8;
}

.single-content-container {
  width: 60%;
  margin: auto;
  padding: 64px 0;
}

.single-content h6 {
  color: #000000;
  font-family: "Jost";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin: 20px 0;
}

.single-content a {
  text-decoration: none;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  margin: 0px 4px;
  color: #B5B35C;
  font-size: 18px;
}

.single-content a:hover {
  text-decoration: underline;
}

.single-content h1 {
  color: #000000;
  font-family: "GT Super Txt Trial";
  font-weight: 700;
  font-size: 56px;
  line-height: 84px;
  margin: 20px 0;
}

.single-content p {
  font-family: "Jost";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin: 20px 0;
}

.single-content div {
  font-family: "Jost";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin: 20px 0;
}

.single-content h5, h4, h3 {
  color: #000000;
  font-family: "GT Super Txt Trial";
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin: 20px 0;
}

.single-content ul {
  margin: 20px 0;
  list-style-type: disc;
}
.single-content ul li {
  list-style-type: disc;
  display: block;
  font-family: "Jost";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.single-content ol {
  margin: 20px 0;
  list-style-type: disc;
}
.single-content ol li {
  list-style-type: disc;
  display: block;
  font-family: "Jost";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.border-div {
  border-bottom: 1px solid #000000;
  margin: 64px 0;
}

.single-content-btn {
  font-family: "Jost";
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  border: 1px solid #000000;
  border-radius: 100px;
  padding: 5px 12px;
  margin-left: 10px;
}

.single-content-icon {
  color: #000000;
  font-size: 26px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
}

.single-content-icon:hover {
  color: #B5B35C;
}

.single-content-icon-wifi {
  margin-left: 32px;
  -webkit-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  transform: rotate(50deg);
}

.comments {
  margin-bottom: 80px;
}

.comments h3 {
  font-family: "GT Super Txt Trial";
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 59px;
  margin-top: 80px;
}

.comments h6 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.comments p {
  font-family: "Jost";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.single-content-form .form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #000000;
  border-radius: 4px;
  background: #F3F3F3;
}

.commnet-wrappper-form {
  background: #F8F8F8;
}

.singel-input-wrapper {
  margin-top: 11px;
}
.singel-input-wrapper label {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: block;
}
.singel-input-wrapper input {
  background: #F3F3F3;
  border: 1px solid #000000;
  border-radius: 4px;
}
.singel-input-wrapper textarea {
  background: #F3F3F3;
  border: 1px solid #000000;
  border-radius: 4px;
}

#comment_form input.btn {
  float: right;
  font-family: "GT Super Txt Trial";
  font-weight: 700;
  font-size: 20px;
  line-height: 14px;
  background: #B5B35C;
  padding: 12px 32px;
  border: 2px solid #000000;
  margin-top: 48px;
}

.singel-input-wrapper input::-webkit-input-placeholder {
  color: #A3A59B;
  font-family: "Jost";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.singel-input-wrapper input::-moz-placeholder {
  color: #A3A59B;
  font-family: "Jost";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.singel-input-wrapper input:-ms-input-placeholder {
  color: #A3A59B;
  font-family: "Jost";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.singel-input-wrapper input::-ms-input-placeholder {
  color: #A3A59B;
  font-family: "Jost";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.singel-input-wrapper input::placeholder {
  color: #A3A59B;
  font-family: "Jost";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.single-content-form .form-control::-webkit-input-placeholder {
  color: #A3A59B;
  font-family: "Jost";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.single-content-form .form-control::-moz-placeholder {
  color: #A3A59B;
  font-family: "Jost";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.single-content-form .form-control:-ms-input-placeholder {
  color: #A3A59B;
  font-family: "Jost";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.single-content-form .form-control::-ms-input-placeholder {
  color: #A3A59B;
  font-family: "Jost";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.single-content-form .form-control::placeholder {
  color: #A3A59B;
  font-family: "Jost";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.single-content-form .form-label {
  color: #000000;
  font-family: "Jost";
  font-weight: 700 !important;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}

.single-form-btn {
  font-family: "GT Super Txt Trial";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background: #B5B35C;
  padding: 12px 32px;
  border: 2px solid #000000;
  margin-top: 48px;
}

@media screen and (max-width: 991px) {
  .single-content-container {
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .single-content-container {
    width: 90%;
  }
}
@media screen and (max-width: 793px) and (min-width: 767px) {
  .single-content-icon {
    font-size: 20px;
  }
}
html.js {
  padding: 0 !important;
}

.page-wrapper-c .csection-header h1 {
  margin: 60px 0 60px 0;
  font-family: "GT Super Txt Trial";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}

.page-content p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin: 15px 0;
}
.page-content strong {
  font-size: 28px;
  margin: 10px 0;
}
.page-content a {
  text-decoration: underline;
}

.general-all-page {
  margin-bottom: 200px;
}

.magring-minous {
  margin-top: -180px;
}

.grid__item myaccount__account-details h2 {
  margin: 60px 0 60px 0;
  font-family: "GT Super Txt Trial";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 60px;
}
.grid__item myaccount__account-details p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin: 15px 0;
  display: block;
}
.grid__item myaccount__account-details p a.btn {
  margin-top: 30px;
}

.adress-page li {
  display: block;
}

#AddressNewForm h2 {
  text-align: center;
  margin: 60px 0;
}

.cutome-class {
  margin: 270px 0 0 0;
}

.shopify-challenge__container {
  padding: 150px 0;
}

.g-recaptcha {
  margin: 40px 0;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 110px;
}

.pb-180 {
  padding-bottom: 180px;
}

.login-butoon p a {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
  display: block;
}
.login-butoon input {
  padding: 15px 30px;
}

.card-common-inputclass h1 {
  font-family: "GT Super Txt Trial";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  font-family: "GT Super Txt Trial";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}
.card-common-inputclass form label {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
  display: block;
}

.about-hero-area {
  background-color: #BD6059;
  padding-top: 104px;
  padding-bottom: 95px;
  border-bottom: 1px solid #000000;
}

.about-hero-area h4 {
  color: white;
  font-family: "GT Super Txt Trial";
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
}

.about-card-area {
  background: #F2E085;
  padding-top: 120px;
  padding-bottom: 136px;
}

.about-card {
  background: #F8F8F8;
  border: 1px solid #000000;
  border-radius: 90px;
  padding: 71px 71px 63px 71px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  width: 1114px;
  margin: auto;
  display: block;
}

.about-card:hover {
  -webkit-box-shadow: 12px 14px 0px 1px #D77628;
  box-shadow: 12px 14px 0px 1px #D77628;
}

.about-card p {
  font-family: "Jost";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.about-card li {
  list-style: none;
  margin-bottom: 12px;
  text-align: center;
  display: block;
}

.about-card a {
  font-family: "Jost";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #B5B35C;
  text-decoration: none;
  text-align: center;
}

.about-card h6 {
  color: #000000;
  font-family: "GT Super Txt Trial";
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-top: 48px;
}

.svg-mobile svg {
  display: inline-block;
  text-align: left;
}

@media screen and (max-width: 991px) {
  .about-hero-area img {
    width: 100%;
  }

  .about-hero-area h4 {
    font-size: 30px;
  }
}
@media screen and (max-width: 541px) {
  .about-hero-area h4 {
    font-size: 20px;
  }
}
@media screen and (max-width: 1114px) {
  .about-card {
    width: 90%;
  }
}
@media screen and (max-width: 767px) {
  .about-card {
    width: 85%;
  }

  .about-card {
    padding: 61px 61px 53px 61px;
  }

  .about-card p {
    font-size: 17px;
  }

  .about-card a {
    font-size: 17px;
  }
}
@media screen and (max-width: 516px) {
  .about-card {
    padding: 21px 21px 13px 21px;
  }

  .about-card p {
    font-size: 16px;
  }

  .about-card a {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */
