@font-face {
  font-family: "Jost";
  src: url("../../webfonts/jost-v14-latin-regular.eot");
  src: url("../../webfonts/jost-v14-latin-regular.woff") format("woff"), url("../../webfonts/jost-v14-latin-regular.ttf") format("truetype"), url("../../webfonts/jost-v14-latin-regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url("../../webfonts/free-font/GT-Super-Text-Black.woff2") format("woff");
  font-family: "GT Super Txt Trial";
  font-style: normal;
  font-weight: 700;
}
@font-face {
  src: url("../../webfonts/free-font/GT-Super-Text-Bold.woff2") format("woff");
  font-family: "GT Super Txt Trial";
  font-style: normal;
  font-weight: 600;
}
@font-face {
  src: url("../../webfonts/free-font/GT-Super-Text-Medium.woff2") format("woff");
  font-family: "GT Super Txt Trial";
  font-style: normal;
  font-weight: 500;
}
@font-face {
  src: url("../../webfonts/free-font/GT-Super-Text-Regular.woff2") format("woff");
  font-family: "GT Super Txt Trial";
  font-style: normal;
  font-weight: 600;
}
body {
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
}

.img {
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.fix {
  overflow: hidden;
}

a,
.button {
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a,
button {
  color: #1696e7;
  outline: medium none;
}

button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  color: #373737;
  margin: 0px;
  font-style: normal;
  font-family: "Nunito", sans-serif;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  margin-bottom: 0px;
}

hr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  border-top: 0 none;
  margin: 18px 0;
}

label {
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
}

*::-moz-selection {
  background: #d6b161;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

*::-moz-placeholder {
  color: #555555;
  font-size: 14px;
  opacity: 1;
}

*::-webkit-input-placeholder {
  color: #555555;
  font-size: 14px;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #555555;
  font-size: 14px;
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #555555;
  font-size: 14px;
  opacity: 1;
}

*::placeholder {
  color: #555555;
  font-size: 14px;
  opacity: 1;
}

.theme-overlay {
  position: relative;
}

.theme-overlay::before {
  background: #EA5B0C;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
}

.separator {
  border-top: 1px solid #f2f2f2;
}

/* button style */
.btn {
  -moz-user-select: none;
  background: #fff;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  border-radius: 0px;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 0;
  padding: 15px 20px;
  text-align: center;
  text-transform: matrix(-1, 0, 0, 1, 0, 0);
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  border-color: #000;
  text-decoration: inherit;
  font-family: system-ui;
  border-image-slice: 1;
}

.btn:hover {
  color: #000;
}

.breadcrumb > .active {
  color: #888;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  display: inline-block;
}

a {
  text-decoration: none;
  font-weight: 500;
  font-family: "Jost";
  font-size: 14px;
  color: #545151;
}
a:hover {
  color: #000;
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
}

.section-title {
  margin-top: 60px;
}
.section-title h2 {
  font-size: 48px;
  color: #fff;
  font-weight: 900;
  margin-top: 30px;
}
@media (min-width: 250px) {
  .section-title h2 {
    font-size: 40px;
  }
}
.section-title h5 {
  margin-top: 5px;
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
}
@media (min-width: 250px) {
  .section-title h5 {
    font-size: 13px;
  }
}

.mt-80 {
  margin-top: 70px;
}

.inner-wrapper {
  margin: 0 40px;
}

@media (min-width: 768px) {
  h4 {
    font-size: 13px;
  }
}

/*!
*   MA5-mobile-menu
*   v 4.0.0
*   Copyright (c) 2016 Tomasz Kalinowski
*   GitHub: https://github.com/ma-5/ma5-mobile-menu
*/
.ma5menu {
  display: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ma5menu *, .ma5menu *:after, .ma5menu *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ma5menu--active .ma5menu__page {
  margin-right: -17px;
  height: 100%;
  overflow: hidden;
  -webkit-transform: translate3d(280px, 0, 0);
  transform: translate3d(280px, 0, 0);
  transition: -webkit-transform 0.3s ease-out 0s;
  -o-transition: transform 0.3s ease-out 0s;
  -webkit-transition: -webkit-transform 0.3s ease-out 0s;
  transition: transform 0.3s ease-out 0s;
  transition: transform 0.3s ease-out 0s, -webkit-transform 0.3s ease-out 0s;
}

@media (min-width: 768px) {
  .ma5menu--active .ma5menu__page {
    -webkit-transform: translate3d(360px, 0, 0);
    transform: translate3d(360px, 0, 0);
  }
}
.ma5menu > ul {
  display: none;
}

.ma5menu__head {
  padding: 0 5px;
  border-bottom: 1px solid #6fa77f;
  height: 73px;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  position: relative;
}

.ma5menu__header {
  line-height: 35px;
  color: #ffffff;
  background-color: transparent;
}

.ma5menu__header a {
  color: #ffc107;
}

.ma5menu__header a:hover {
  color: #ffc107;
}

.ma5menu__close {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #ffffff;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20fill%3D%22%23ffffff%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M19%206.41L17.59%205%2012%2010.59%206.41%205%205%206.41%2010.59%2012%205%2017.59%206.41%2019%2012%2013.41%2017.59%2019%2019%2017.59%2013.41%2012z%22/%3E%3C/svg%3E");
  background-size: 24px 24px;
  background-position: 50% 50%;
}

.ma5menu__toggle:hover .ma5menu__close {
  color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20fill%3D%22%23ffc107%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M19%206.41L17.59%205%2012%2010.59%206.41%205%205%206.41%2010.59%2012%205%2017.59%206.41%2019%2012%2013.41%2017.59%2019%2019%2017.59%2013.41%2012z%22/%3E%3C/svg%3E");
  background-color: transparent;
}

.ma5menu__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #ffffff;
  width: 100px;
  height: 55px;
  background-image: url("/assets/images/Hlogo.png");
  padding: 10px 0;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.ma5menu__home:hover .ma5menu__logo {
  color: #ffc107;
}

.ma5menu__home {
  font-weight: 700;
  color: inherit;
}

.ma5menu__tools {
  display: none;
}

.ma5menu__footer .ma5menu__tools {
  display: block;
}

.ma5menu__footer {
  padding: 20px 20px 30px 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  text-transform: none;
}

.ma5menu__footer a {
  color: #ffc107;
}

.ma5menu__footer a:hover {
  color: #ffc107;
}

.ma5menu__toggle {
  cursor: pointer;
  color: #ffffff;
  background-color: #000;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  width: 52px;
  height: 38px;
  position: relative;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  font-weight: 400;
  padding: 8px 12px;
  border-radius: 4px;
  -o-transition: box-shadow 0.15s ease-in-out;
  -webkit-transition: -webkit-box-shadow 0.15s ease-in-out;
  transition: -webkit-box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out;
  transition: box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.ma5menu__toggle:hover {
  color: #ffffff;
  background-color: #ef6c00;
}

.ma5menu__header .ma5menu__toggle {
  position: absolute;
  top: 0;
  width: 60px;
  height: 60px;
  color: #ffffff;
  background-color: transparent;
}

.ma5menu__header .ma5menu__toggle:hover {
  color: #ffc107;
  background-color: transparent;
}

.ma5menu--left .ma5menu__header .ma5menu__toggle {
  right: 0;
}

.ma5menu--right .ma5menu__header .ma5menu__toggle {
  left: 0;
}

.ma5menu__icon-toggle {
  display: inline-block;
  position: absolute;
  margin: auto;
  top: -100%;
  bottom: -100%;
  left: -100%;
  right: -100%;
  vertical-align: top;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20fill%3D%22%23ffffff%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M3%2018h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z%22/%3E%3C/svg%3E");
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.ma5menu__icon-up {
  margin: 0;
  width: 44px;
  height: 44px;
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 24px 24px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20fill%3D%22%23fff%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M16.59%208.59L12%2013.17%207.41%208.59%206%2010l6%206%206-6z%22/%3E%3C/svg%3E");
}

.ma5menu__alert {
  display: block;
  text-align: center;
  width: 280px;
  height: 50px;
  bottom: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  z-index: 500;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  background-image: -o-linear-gradient(top, rgba(14, 101, 182, 0) 0%, #0e65b6 50%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(14, 101, 182, 0)), color-stop(50%, #0e65b6));
  background-image: linear-gradient(to bottom, rgba(14, 101, 182, 0) 0%, #0e65b6 50%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 50px;
  -o-transition: background-position 0.4s ease-in 0.3s;
  -webkit-transition: background-position 0.4s ease-in 0.3s;
  transition: background-position 0.4s ease-in 0.3s;
  will-change: auto;
  pointer-events: none;
}

@media (min-width: 768px) {
  .ma5menu__alert {
    width: 360px;
  }
}
.ma5menu__container--scroll .ma5menu__alert {
  background-position: 0 0;
  -o-transition: background-position 0.4s ease-out;
  -webkit-transition: background-position 0.4s ease-out;
  transition: background-position 0.4s ease-out;
  pointer-events: auto;
}

.ma5menu__alert-content {
  width: 150px;
  height: 40px;
  position: absolute;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -o-transition: bottom 0.4s ease-in;
  -webkit-transition: bottom 0.4s ease-in;
  transition: bottom 0.4s ease-in;
}

.ma5menu__container--scroll .ma5menu__alert-content {
  bottom: 0;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: ma5-arrowDown;
  animation-name: ma5-arrowDown;
  -o-transition: bottom 0.4s ease-out 0.4s;
  -webkit-transition: bottom 0.4s ease-out 0.4s;
  transition: bottom 0.4s ease-out 0.4s;
}

.ma5menu__container {
  -o-transition: none !important;
  -webkit-transition: none !important;
  transition: none !important;
  position: fixed;
  background-color: #000;
  height: 100%;
  top: 0;
  line-height: 19px;
  overflow: hidden;
  border: none;
  z-index: 10000;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.14);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.14);
}

@media (max-width: 767px) {
  .ma5menu__container {
    width: 280px;
  }
}
@media (min-width: 768px) {
  .ma5menu__container {
    width: 360px;
  }
}
.ma5menu--left .ma5menu__container {
  -webkit-transform: translate3d(-280px, 0, 0);
  transform: translate3d(-280px, 0, 0);
  left: 0;
}

.ma5menu--right .ma5menu__container {
  -webkit-transform: translate3d(280px, 0, 0);
  transform: translate3d(280px, 0, 0);
  right: -280px;
}

.ma5menu--ready.ma5menu--left .ma5menu__container {
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.noie.ma5menu--ready.ma5menu--left .ma5menu__container {
  -webkit-animation-name: ma5menuOut;
  animation-name: ma5menuOut;
}

.ie.ma5menu--ready.ma5menu--left .ma5menu__container {
  -webkit-animation-name: ma5menuOutIEphone;
  animation-name: ma5menuOutIEphone;
}

@media (min-width: 768px) {
  .ie.ma5menu--ready.ma5menu--left .ma5menu__container {
    -webkit-animation-name: ma5menuOutIEtablet;
    animation-name: ma5menuOutIEtablet;
  }
}
.ma5menu--ready.ma5menu--right .ma5menu__container {
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.noie.ma5menu--ready.ma5menu--right .ma5menu__container {
  -webkit-animation-name: ma5menuOutB;
  animation-name: ma5menuOutB;
}

.ie.ma5menu--ready.ma5menu--right .ma5menu__container {
  -webkit-animation-name: ma5menuOutBIEphone;
  animation-name: ma5menuOutBIEphone;
}

@media (min-width: 768px) {
  .ie.ma5menu--ready.ma5menu--right .ma5menu__container {
    -webkit-animation-name: ma5menuOutBIEtablet;
    animation-name: ma5menuOutBIEtablet;
  }
}
.ma5menu--active.ma5menu--left .ma5menu__container {
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.noie.ma5menu--active.ma5menu--left .ma5menu__container {
  -webkit-animation-name: ma5menuOutB;
  animation-name: ma5menuOutB;
}

.ie.ma5menu--active.ma5menu--left .ma5menu__container {
  -webkit-animation-name: ma5menuOutBIEphone;
  animation-name: ma5menuOutBIEphone;
}

@media (min-width: 768px) {
  .ie.ma5menu--active.ma5menu--left .ma5menu__container {
    -webkit-animation-name: ma5menuOutBIEtablet;
    animation-name: ma5menuOutBIEtablet;
  }
}
.ma5menu--active.ma5menu--right .ma5menu__container {
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.noie.ma5menu--active.ma5menu--right .ma5menu__container {
  -webkit-animation-name: ma5menuIn;
  animation-name: ma5menuIn;
}

.ie.ma5menu--active.ma5menu--right .ma5menu__container {
  -webkit-animation-name: ma5menuInIEphone;
  animation-name: ma5menuInIEphone;
}

@media (min-width: 768px) {
  .ie.ma5menu--active.ma5menu--right .ma5menu__container {
    -webkit-animation-name: ma5menuInIEtablet;
    animation-name: ma5menuInIEtablet;
  }
}
@media (min-width: 768px) {
  .ma5menu--left .ma5menu__container {
    -webkit-transform: translate3d(-360px, 0, 0);
    transform: translate3d(-360px, 0, 0);
    padding: 0;
    left: 0;
  }
}
@media (min-width: 768px) {
  .ma5menu--right .ma5menu__container {
    -webkit-transform: translate3d(360px, 0, 0);
    transform: translate3d(360px, 0, 0);
    right: -360px;
  }
}
.safari .ma5menu__container {
  height: 100%;
}

.preload .ma5menu__container {
  opacity: 0;
  z-index: -1;
}

.ma5menu__panel {
  display: none;
  width: 280px;
  height: 80%;
  height: calc(100% - 60px);
  position: absolute;
  overflow: hidden;
  overflow-y: auto;
  top: 60px;
  left: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  z-index: 100;
  color: rgba(255, 255, 255, 0.1);
  background-color: #000;
  scrollbar-color: #0a4b87 #0e65b6;
  scrollbar-width: thin;
}

@media (min-width: 768px) {
  .ma5menu__panel {
    width: 360px;
  }
}
.ma5menu__panel.has-scrollbar {
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.ma5menu__panel:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
}

.ma5menu__panel::-webkit-scrollbar {
  width: 9px;
  background-color: #0d60ad;
}

.ma5menu__panel::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.15);
  outline: none;
  border-right: 3px solid #0d60ad;
}

.ma5menu__panel:first-of-type {
  z-index: 160;
}

.ma5menu__panel--parent-leave, .ma5menu__panel--parent-enter {
  z-index: 180;
  display: block;
}

.ma5menu__panel--active-leave, .ma5menu__panel--active-enter {
  z-index: 190;
  display: block;
}

.ma5menu__panel--active-enter {
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.noie .ma5menu__panel--active-enter {
  -webkit-animation-name: ma5-panelIn;
  animation-name: ma5-panelIn;
}

.ie .ma5menu__panel--active-enter {
  -webkit-animation-name: ma5-panelInIEphone;
  animation-name: ma5-panelInIEphone;
}

@media (min-width: 768px) {
  .ie .ma5menu__panel--active-enter {
    -webkit-animation-name: ma5-panelInIEtablet;
    animation-name: ma5-panelInIEtablet;
  }
}
.ma5menu__panel--active-leave {
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.noie .ma5menu__panel--active-leave {
  -webkit-animation-name: ma5-panelOut;
  animation-name: ma5-panelOut;
}

.ie .ma5menu__panel--active-leave {
  -webkit-animation-name: ma5-panelOutIEphone;
  animation-name: ma5-panelOutIEphone;
}

@media (min-width: 768px) {
  .ie .ma5menu__panel--active-leave {
    -webkit-animation-name: ma5-panelOutIEtablet;
    animation-name: ma5-panelOutIEtablet;
  }
}
.ma5menu__panel--parent-enter {
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.noie .ma5menu__panel--parent-enter {
  -webkit-animation-name: ma5menuOut;
  animation-name: ma5menuOut;
}

.ie .ma5menu__panel--parent-enter {
  -webkit-animation-name: ma5menuOutIEphone;
  animation-name: ma5menuOutIEphone;
}

@media (min-width: 768px) {
  .ie .ma5menu__panel--parent-enter {
    -webkit-animation-name: ma5menuOutIEtablet;
    animation-name: ma5menuOutIEtablet;
  }
}
.ma5menu__panel--parent-leave {
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.noie .ma5menu__panel--parent-leave {
  -webkit-animation-name: ma5menuOutB;
  animation-name: ma5menuOutB;
}

.ie .ma5menu__panel--parent-leave {
  -webkit-animation-name: ma5menuOutBIEphone;
  animation-name: ma5menuOutBIEphone;
}

@media (min-width: 768px) {
  .ie .ma5menu__panel--parent-leave {
    -webkit-animation-name: ma5menuOutBIEtablet;
    animation-name: ma5menuOutBIEtablet;
  }
}
.ma5menu__panel.lvl-0 {
  text-transform: uppercase;
  margin-top: 13px;
}

.ma5menu__panel.lvl-1 {
  text-transform: none;
}

.ma5menu__panel > ul {
  margin: 0;
  padding: 0;
}

.ma5menu__panel > ul li {
  position: relative;
  font-size: 0;
  padding-right: 0;
  margin-bottom: 0;
  line-height: 0;
}

.ma5menu__panel > ul li:first-of-type {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.ma5menu__panel > ul li a,
.ma5menu__panel > ul li .ma5menu__category {
  display: inline-block;
  vertical-align: top;
  text-decoration: none !important;
  width: 100%;
  outline: none !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  pointer-events: none;
  letter-spacing: 0.3px;
  -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
  -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
  transition: color 0.3s ease-out, background-color 0.3s ease-out;
  padding: 15px 20px 15px 20px;
  font-size: 15px;
  line-height: 19px;
  overflow: hidden;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  min-height: 50px;
}

.ma5menu__panel > ul li a {
  color: #ffffff;
  background-color: transparent;
}

.ma5menu__panel > ul li a:hover {
  color: #ffc107;
  background-color: transparent;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}

.ma5menu__panel > ul li .ma5menu__category {
  position: relative;
  text-align: left;
  background-position: calc(100% - 13px) 50%;
  color: #ffffff;
  background-color: transparent;
}

.ma5menu__panel > ul li .ma5menu__category:hover {
  color: #ffc107;
  background-color: transparent;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}

.ma5menu__panel > ul li .ma5menu__category.ma5menu__path {
  color: #ffc107 !important;
  background-color: transparent !important;
}

.ma5menu__panel > ul li .ma5menu__category.ma5menu__path:hover {
  color: #ffc107 !important;
  background-color: transparent !important;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}

.ma5menu__panel > ul li > .ma5menu__btn--enter + a {
  padding-right: 60px;
  margin-right: -50px;
}

.ma5menu__panel--active {
  z-index: 170;
  display: block;
}

.ma5menu__panel--active > ul li a,
.ma5menu__panel--active > ul li .ma5menu__category {
  pointer-events: auto;
}

.ma5menu__btn--enter, .ma5menu__btn--leave {
  font-size: 13px;
  cursor: pointer;
  display: block;
  position: absolute;
  padding: 0;
  top: 0;
  height: 100%;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 24px 24px;
  -o-transition: background-color 0.3s ease-out;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.ma5menu__btn--enter:hover, .ma5menu__btn--leave:hover {
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}

.ma5menu__btn--enter {
  z-index: 0;
  left: auto;
  right: 0;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20fill%3D%22%23ffffff%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M10%206L8.59%207.41%2013.17%2012l-4.58%204.59L10%2018l6-6z%22/%3E%3C/svg%3E");
  width: 50px;
}

.ma5menu__btn--enter:hover {
  color: #ffc107;
  background-color: rgba(255, 255, 255, 0.3);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20fill%3D%22%23ffc107%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M10%206L8.59%207.41%2013.17%2012l-4.58%204.59L10%2018l6-6z%22/%3E%3C/svg%3E");
}

.ma5menu__btn--enter:before {
  content: "";
  display: block;
  width: 1px;
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: -2px;
  background-color: transparent;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.ma5menu__btn--leave {
  left: 0;
  right: auto;
  color: #ffffff;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20fill%3D%22%23ffffff%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M15.41%207.41L14%206l-6%206%206%206%201.41-1.41L10.83%2012z%22/%3E%3C/svg%3E");
  width: 50px;
}

.ma5menu__btn--leave:hover {
  color: #ffc107;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20fill%3D%22%23ffc107%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M15.41%207.41L14%206l-6%206%206%206%201.41-1.41L10.83%2012z%22/%3E%3C/svg%3E");
}

.ma5menu__leave:hover .ma5menu__btn--leave {
  color: #ffc107;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20fill%3D%22%23ffc107%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M15.41%207.41L14%206l-6%206%206%206%201.41-1.41L10.83%2012z%22/%3E%3C/svg%3E");
}

.ma5menu__btn--leave:before {
  content: "";
  display: block;
  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -2px;
  background-color: transparent;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.ma5menu__leave {
  font-size: 15px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  display: block;
  position: relative;
  padding: 0 44px 0 44px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  height: 50px;
  line-height: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: -44px;
}

.ma5menu__leave:hover {
  color: #ffc107;
  background-color: rgba(255, 255, 255, 0.1);
}

.ma5menu__leave + .ma5menu__btn--enter {
  bottom: 0;
  height: calc(100% - 50px);
  top: auto;
}

.ma5menu__path {
  color: #ffc107 !important;
  background-color: transparent !important;
}

.ma5menu--overflow {
  overflow-x: hidden !important;
}

.ma5menu--left:before, .ma5menu--right:before {
  content: "";
  display: block;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.01);
  z-index: -1;
  -o-transition: background-color 0.4s ease-out 0.5s, z-index 0.8s linear;
  -webkit-transition: background-color 0.4s ease-out 0.5s, z-index 0.8s linear;
  transition: background-color 0.4s ease-out 0.5s, z-index 0.8s linear;
  width: 100%;
}

.ma5menu--active:before {
  background-color: rgba(255, 255, 255, 0.6);
  -o-transition: background-color 0.4s ease-in;
  -webkit-transition: background-color 0.4s ease-in;
  transition: background-color 0.4s ease-in;
  z-index: 9000;
}

.ma5menu--active > body .container * {
  -ms-touch-action: none;
  touch-action: none;
  pointer-events: none;
}

@media (max-width: 767px) {
  .ma5menu--active > body * {
    pointer-events: none;
  }

  .ma5menu--active > body .ma5menu__toggle {
    pointer-events: auto;
  }

  .ma5menu--active > body .ma5menu__toggle * {
    pointer-events: auto;
  }

  .ma5menu--active > body .ma5menu__container {
    pointer-events: auto;
  }

  .ma5menu--active > body .ma5menu__container * {
    pointer-events: auto;
  }

  .ma5menu--active > body .ma5menu__container .ma5menu__alert {
    pointer-events: none;
  }

  .ma5menu--active > body .ma5menu__container--scroll {
    pointer-events: auto;
  }
}
@media (max-width: 1199px) {
  .ma5menu--active.has-body-scrollbar {
    overflow: hidden;
    overflow-y: scroll;
    height: auto;
    min-height: 100%;
    -webkit-overflow-scrolling: touch;
  }
}
.ma5menu--active.ma5menu--left:before {
  right: 0;
}

.ma5menu--active.ma5menu--right:before {
  left: 0;
}

.ma5menu--swipe {
  position: relative;
  overflow-x: hidden !important;
}

.ma5menu--swipe body {
  position: relative;
}

.ma5menu--swipe.ma5menu--left body {
  -o-transition: left 0.5s ease-out;
  -webkit-transition: left 0.5s ease-out;
  transition: left 0.5s ease-out;
  left: 0;
}

.ma5menu--swipe.ma5menu--right body {
  -o-transition: right 0.5s ease-out;
  -webkit-transition: right 0.5s ease-out;
  transition: right 0.5s ease-out;
  right: 0;
}

.ma5menu--swipe.ma5menu--active.ma5menu--left body {
  left: 280px;
}

@media (min-width: 768px) {
  .ma5menu--swipe.ma5menu--active.ma5menu--left body {
    left: 360px;
  }
}
.ma5menu--swipe.ma5menu--active.ma5menu--right body {
  right: 280px;
}

@media (min-width: 768px) {
  .ma5menu--swipe.ma5menu--active.ma5menu--right body {
    right: 360px;
  }
}
.ma5menu__sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

@-webkit-keyframes ma5-panelIn {
  0% {
    -webkit-transform: translate3d(280px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes ma5-panelIn {
  0% {
    -webkit-transform: translate3d(280px, 0, 0);
    transform: translate3d(280px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes ma5-panelOut {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(280px, 0, 0);
  }
}
@keyframes ma5-panelOut {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(280px, 0, 0);
    transform: translate3d(280px, 0, 0);
  }
}
@-webkit-keyframes ma5menuIn {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-280px, 0, 0);
  }
}
@keyframes ma5menuIn {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-280px, 0, 0);
    transform: translate3d(-280px, 0, 0);
  }
}
@-webkit-keyframes ma5menuOut {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-280px, 0, 0);
  }
}
@keyframes ma5menuOut {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-280px, 0, 0);
    transform: translate3d(-280px, 0, 0);
  }
}
@-webkit-keyframes ma5menuOutB {
  0% {
    -webkit-transform: translate3d(-280px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes ma5menuOutB {
  0% {
    -webkit-transform: translate3d(-280px, 0, 0);
    transform: translate3d(-280px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@media (min-width: 768px) {
  @-webkit-keyframes ma5-panelIn {
    0% {
      -webkit-transform: translate3d(360px, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
    }
  }
  @keyframes ma5-panelIn {
    0% {
      -webkit-transform: translate3d(360px, 0, 0);
      transform: translate3d(360px, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @-webkit-keyframes ma5-panelOut {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(360px, 0, 0);
    }
  }
  @keyframes ma5-panelOut {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(360px, 0, 0);
      transform: translate3d(360px, 0, 0);
    }
  }
  @-webkit-keyframes ma5menuIn {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(-360px, 0, 0);
    }
  }
  @keyframes ma5menuIn {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(-360px, 0, 0);
      transform: translate3d(-360px, 0, 0);
    }
  }
  @-webkit-keyframes ma5menuOut {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(-360px, 0, 0);
    }
  }
  @keyframes ma5menuOut {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(-360px, 0, 0);
    }
  }
  @-webkit-keyframes ma5menuOutB {
    0% {
      -webkit-transform: translate3d(-360px, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
    }
  }
  @keyframes ma5menuOutB {
    0% {
      -webkit-transform: translate3d(-360px, 0, 0);
      transform: translate3d(-360px, 0, 0);
    }
    100% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
}
@-webkit-keyframes ma5-panelInIEphone {
  0% {
    -webkit-transform: translate3d(280px, 0, 0);
    transform: translate3d(280px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes ma5-panelInIEphone {
  0% {
    -webkit-transform: translate3d(280px, 0, 0);
    transform: translate3d(280px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes ma5-panelOutIEphone {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(280px, 0, 0);
    transform: translate3d(280px, 0, 0);
  }
}
@keyframes ma5-panelOutIEphone {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(280px, 0, 0);
    transform: translate3d(280px, 0, 0);
  }
}
@-webkit-keyframes ma5menuInIEphone {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-280px, 0, 0);
    transform: translate3d(-280px, 0, 0);
  }
}
@keyframes ma5menuInIEphone {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-280px, 0, 0);
    transform: translate3d(-280px, 0, 0);
  }
}
@-webkit-keyframes ma5menuOutIEphone {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-280px, 0, 0);
    transform: translate3d(-280px, 0, 0);
  }
}
@keyframes ma5menuOutIEphone {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-280px, 0, 0);
    transform: translate3d(-280px, 0, 0);
  }
}
@-webkit-keyframes ma5menuOutBIEphone {
  0% {
    -webkit-transform: translate3d(-280px, 0, 0);
    transform: translate3d(-280px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes ma5menuOutBIEphone {
  0% {
    -webkit-transform: translate3d(-280px, 0, 0);
    transform: translate3d(-280px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes ma5-panelInIEtablet {
  0% {
    -webkit-transform: translate3d(360px, 0, 0);
    transform: translate3d(360px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes ma5-panelInIEtablet {
  0% {
    -webkit-transform: translate3d(360px, 0, 0);
    transform: translate3d(360px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes ma5-panelOutIEtablet {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(360px, 0, 0);
    transform: translate3d(360px, 0, 0);
  }
}
@keyframes ma5-panelOutIEtablet {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(360px, 0, 0);
    transform: translate3d(360px, 0, 0);
  }
}
@-webkit-keyframes ma5menuInIEtablet {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-360px, 0, 0);
    transform: translate3d(-360px, 0, 0);
  }
}
@keyframes ma5menuInIEtablet {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-360px, 0, 0);
    transform: translate3d(-360px, 0, 0);
  }
}
@-webkit-keyframes ma5menuOutIEtablet {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-360px, 0, 0);
    transform: translate3d(-360px, 0, 0);
  }
}
@keyframes ma5menuOutIEtablet {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-360px, 0, 0);
    transform: translate3d(-360px, 0, 0);
  }
}
@-webkit-keyframes ma5menuOutBIEtablet {
  0% {
    -webkit-transform: translate3d(-360px, 0, 0);
    transform: translate3d(-360px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes ma5menuOutBIEtablet {
  0% {
    -webkit-transform: translate3d(-360px, 0, 0);
    transform: translate3d(-360px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes ma5-arrowDown {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ma5-arrowDown {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.ma5menu__alert {
  background: #000;
}

.ma5menu__panel {
  background: #000;
}

.ma5menu__panel--active ul li {
  display: block;
}

.ma5menu__panel::-webkit-scrollbar-thumb {
  border-right: none;
  background-color: #000;
}

.ma5menu__panel::-webkit-scrollbar {
  width: 9px;
  background-color: #fff;
}

.header-top-wrapper {
  overflow: hidden;
  height: 40px;
  background: #B5B35C;
}
.header-top-wrapper .splide__slide {
  margin-top: 6px;
}
.header-top-wrapper .splide__slide p {
  margin-bottom: 6px;
  margin-left: 8px;
  font-family: Jost;
  font-weight: 400;
}
.header-top-wrapper .splide__slide .top-bar-svg img {
  vertical-align: top;
}

.logo {
  margin-right: 24px;
}

.search-from {
  height: 40px;
}
@media (min-width: 992px) {
  .search-from {
    width: 351px;
  }
}
.search-from .search-form .form-group {
  position: relative;
  margin-bottom: 0;
}
.search-from .search-form .form-group #s {
  padding: 9px 15px;
  border: 1px solid #000000;
  border-radius: 4px;
  background: #F8F8F8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.search-from .search-form .form-group .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.search-from .search-form .icon {
  position: absolute;
  top: 50%;
  right: 8px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.main-menu ul li {
  display: inline-block;
  margin-right: 32px;
}
.main-menu ul li a {
  font-size: 20px;
  font-family: "Jost";
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: block;
  height: 100%;
  padding: 37px 0;
}
.main-menu ul li a p {
  font-size: 20px;
  font-family: "Jost";
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}
.main-menu ul li a .menu-arrow {
  display: inline-block;
}
.main-menu ul li a .menu-arrow img {
  display: inline-block;
  vertical-align: middle;
}
.main-menu ul li:last-child {
  margin-right: 0;
}

.user-cart-navigation {
  margin-left: 48px;
}
.user-cart-navigation ul li a {
  padding: 10px;
}

.main-header-wrapper {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  height: 152px;
}
@media (min-width: 992px) {
  .main-header-wrapper {
    height: 104px;
  }
}
.main-header-wrapper .submenu {
  padding: 0;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
}

.main-header-wrapper .submenu {
  opacity: 0;
  visibility: hidden;
  padding: 0;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 100%;
  background: #fff;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.main-header-wrapper .singel-menu {
  padding: 10px 0;
}
.main-header-wrapper .singel-menu ul li {
  text-align: left;
  display: block;
}
.main-header-wrapper .singel-menu ul li a {
  font-family: "GT Super Txt Trial";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 24px;
  padding: 0;
  color: #000000;
}

.main-menu ul li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  top: 100%;
  z-index: 1000;
}

.list-unstyled.components li {
  display: block;
}
.list-unstyled.components li a {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}
.list-unstyled.components li ul li a {
  color: #000000;
  font-family: "GT Super Txt Trial";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

#sidebar {
  color: #000;
  background: #fff;
}

#sidebar.active {
  left: 0;
  right: 0;
  width: 100%;
}

.sider-bar-top {
  padding: 0 24px 0 16px;
}
.sider-bar-top .sidebar-header-logo {
  margin: 38px 0 32px 0;
}

#sidebar ul li {
  padding: 0 24px;
  border-top: 1px solid #000;
  border-top: 1px solid #000;
}
#sidebar ul li a:hover {
  color: #000;
}
#sidebar ul li ul {
  margin-bottom: 10px;
}
#sidebar ul li ul li {
  border: none;
}

.m-rotate {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.list-unstyled.navigation ul li {
  display: block;
}

.crote {
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.footer-wrapper {
  background-color: #5E6B61;
  padding: 60px 0;
}
.footer-wrapper .footer-logo {
  margin: 50px 0 24px 0;
  text-align: center;
}
.footer-wrapper .footer-logo img {
  display: inline-block;
}
.footer-wrapper .footer-socail {
  text-align: center;
}
.footer-wrapper .footer-socail ul li {
  margin: 0 19px;
}

.footer-right-menu {
  margin: 50px 0 42px 0;
}
.footer-right-menu .sinel-menu-item h6 {
  font-family: "GT Super Txt Trial";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #F8F8F8;
  margin-bottom: 40px;
}
.footer-right-menu .singel-menu-item {
  margin-top: 40px 24px;
}
.footer-right-menu .singel-menu-item li {
  display: block;
}
.footer-right-menu .singel-menu-item li a {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  display: block;
  line-height: 30px;
  color: #F8F8F8;
  margin: 16.5px 0;
}

.footer-copy-right {
  background-color: #5E6B61;
  padding: 30px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-color: #A3A59B;
}
.footer-copy-right .f-copy-text p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  line-height: 24px;
  color: #F8F8F8;
}

.footer-wrapper {
  position: relative;
}
.footer-wrapper .footer-human-shap {
  position: absolute;
  left: 0;
  top: -154px;
  left: 363px;
}
/*# sourceMappingURL=style.css.map */
